In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Loading Data

In [3]:
data = pd.read_csv("/workspaces/Applied-Predictive-Modeling/data/segmentationOriginal.csv")
data

,Cell,Case,Class,AngleCh1,AngleStatusCh1,AreaCh1,AreaStatusCh1,AvgIntenCh1,AvgIntenCh2,AvgIntenCh3,...,VarIntenCh1,VarIntenCh3,VarIntenCh4,VarIntenStatusCh1,VarIntenStatusCh3,VarIntenStatusCh4,WidthCh1,WidthStatusCh1,XCentroid,YCentroid
0,207827637,Test,PS,143.247705,1,185,0,15.711864,3.954802,9.548023,...,12.474676,7.609035,2.714100,0,2,2,10.642974,2,42,14
1,207932307,Train,PS,133.752037,0,819,1,31.923274,205.878517,69.916880,...,18.809225,56.715352,118.388139,0,0,0,32.161261,1,215,347
2,207932463,Train,WS,106.646387,0,431,0,28.038835,115.315534,63.941748,...,17.295643,37.671053,49.470524,0,0,0,21.185525,0,371,252
3,207932470,Train,PS,69.150325,0,298,0,19.456140,101.294737,28.217544,...,13.818968,30.005643,24.749537,0,0,2,13.392830,0,487,295
4,207932455,Test,PS,2.887837,2,285,0,24.275735,111.415441,20.474265,...,15.407972,20.504288,45.450457,0,0,0,13.198561,0,283,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,210948219,Train,PS,85.481047,0,302,0,42.041522,23.467128,143.532872,...,26.648000,102.644041,138.501314,0,0,0,24.979033,1,208,379
2015,210952142,Test,PS,99.049010,0,607,0,38.803448,20.587931,78.372414,...,28.429877,76.190478,119.199303,0,0,0,24.524072,1,313,88
2016,210952338,Test,PS,83.319801,0,204,0,37.866667,5.994872,59.789744,...,24.139396,37.024343,63.198797,0,2,2,9.985410,2,291,402
2017,210948231,Test,WS,116.473894,0,390,0,45.643432,169.123324,147.498660,...,37.641158,154.151167,330.195989,0,0,0,22.440286,1,100,448
2018,210948238,Train,WS,150.820416,1,441,0,35.641330,118.372922,96.738717,...,26.664576,96.042588,174.632667,0,0,0,21.789495,0,71,480

In [21]:
seg_data = data[data["Case"] == 'Train']
cellid = data[['Cell']]
classid = data[['Class']]
caseid = data[['Case']]

           Cell
0     207827637
1     207932307
2     207932463
3     207932470
4     207932455
...         ...
2014  210948219
2015  210952142
2016  210952338
2017  210948231
2018  210948238

[2019 rows x 1 columns]